/* #box{
    height: 200px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(71, 192, 49);
    color: beige;
} */
#btn{
    position: fixed;
    
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}